
            
            <div class="main">
                <div id="rev_slider_wrapper" class="slider-container rev_slider_wrapper rev_container_1 fullwidthbanner-container mb0" data-alias="classicslider1">
                    <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-1" data-transition="slotzoom" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200"  data-rotate="0"  data-saveperformance="off"  data-title="We Design">

                                <!-- MAIN IMAGE -->
                                <img src="assets/images/homer.jpg"  alt="Slider bg 1"  data-bgposition="center center" data-duration="11000" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 - overlay -->
                                <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" 
                                    id="slide-1-layer-1" 
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                    data-width="full"
                                    data-height="full"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:0.5;"
                                    data-transform_in="opacity:0;s:1500;" 
                                    data-transform_out="o:0;s:1000;" 
                                    data-start="1000" 
                                    data-basealign="slide" 
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    style="z-index: 5; background-color: rgba(0,0,0, 0.4);"> 
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                                    id="slide-1-layer-2" 
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-140','-120','-120','-100']" 
                                    data-width="none"
                                    data-height="none"
                                    data-color="#fff"
                                    data-fontsize="['42','36','28','22']"
                                    data-fontweight="100"
                                    data-lineheight="['42','36','28','22']"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="700" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
                                    style="z-index: 6; white-space: nowrap;text-shadow:0 2px 5px rgba(0,0,0, 0.35);">
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                                    id="slide-1-layer-3" 
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-56','-54,'-60','-55']"
                                    data-fontsize="['120','90','70','50']"
                                    data-fontweight="700"
                                    data-lineheight="['140','110','90','70']"
                                    data-width="none"
                                    data-color="#fff"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
                                    data-elementdelay="0.1" 
                                    style="z-index: 5; white-space: nowrap;text-shadow:0 3px 8px rgba(0,0,0, 0.35);">FollowUp
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-center" 
                                    id="slide-1-layer-4" 
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                    data-y="['middle','middle','middle','middle']" data-voffset="['55','45','20','15']" 
                                    data-width="['800px', '680px', '480', '320px']"
                                    data-height="none"
                                    data-whitespace="normal"
                                    data-color="#fff"
                                    data-fontsize="['20','18','16','14']"
                                    data-fontweight="400"
                                    data-lineheight="['30','26','24','20']"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1300" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
                                    style="z-index: 6; white-space: nowrap;text-shadow:0 2px 3px rgba(0,0,0, 0.35);">
                                    Eliminate Wait Times in Your Personal Networking
                                </div>

                                <!-- LAYER NR. 5 -->
                                <a class="tp-caption btn btn-custom2 min-width tp-resizeme rs-parallaxlevel-0" 
                                    id="slide-1-layer-5" 
                                    data-x="['center','center','center','center']" 
                                    data-y="['middle','middle','middle','middle']" data-voffset="['146','136','115','90']" 
                                    data-witdh="none"
                                    data-height="none"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1700" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
                                    style="z-index: 6; white-space: nowrap;box-shadow:0 3px 8px rgba(0,0,0, 0.35);border-radius:30px"
                                    href="/signup">Signup
                                </a>
                            </li>
                           
                        <div class="tp-bannertimer tp-bottom" style="height: 4px; background-color: rgba(255, 255, 255, 0.5);"></div>
                    </div><!-- End #rev_slider -->
                </div><!-- END REVOLUTION SLIDER -->
            </div><!-- End .h -->
        </div><!-- End .callout -->
    </div><!-- End .main -->

         

                       

   