<% @disconnected_relationships.each do |relationship| %>
  <h3>Name: <%= relationship.connection.name %> </h3>
  <p><img v-bind:src="relationship.connection.image" style="width: 100%"></p>
  Feature Connection History?
    <%= form_tag "/relationships/#{relationship.id}", method: "patch", style: "display: inline" do %>
    <!-- <input type="hidden" name="connection_id" value="<%= relationship.user_id %>"> -->
    <input type="submit" value="Connect" class="btn btn-default">
    <% end %>
<% end %>