    


    <div class="main" id="relationship">
        <div class="page-header largest largest-top parallax text-center" style="background-image:url(assets/images/relationships_index.jpg)" data-0="background-position:50% 50%;" data-top-bottom="background-position:50% 100%">
            <div class="container-fluid">
                <h1>My Relationships</h1>
                <ol class="breadcrumb">
                    <li><a href="/relationships">Relationships</a></li>
                    <li><a href="/pending">Pending</a></li>
                    <li class="active">Disconnected</li>
                </ol>
            </div><!-- End .container -->
        </div><!-- End .page-header -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                <h3 style="color: pink">Not Yet Updated</h3>
                    <div class="row" v-for="relationship in redRelationships">
                        <div class="member">
                            <div class="member-top service-icon custom2 wow zoomIn" data-wow-delay="0.25s">
                            <figure>
                                <img style="max-width: 150em; max-height: 150em;" v-bind:src="relationship.connection.image" alt="Picture Not Loading">
                            </figure>    

                                <div class="social-icons" v-if="relationship.user_status !== 'Unavailable' && relationship.connected_status !== 'Pending' && relationship.connected_status !== 'Initiating'&& relationship.connected_status !== 'Disconnected'">
                                    <a href="javascript:void(0)" v-on:click="changeStatus('red', relationship)" class="social-icon" title="Disconnect"><i class="fa fa-circle" aria-hidden="true" style="color:red"></i></a>
                                    <a href="javascript:void(0)" v-on:click="changeStatus('yellow', relationship)" class="social-icon" title="Wait"><i class="fa fa-circle" aria-hidden="true" style="color:yellow"></i></a>
                                    <a href="javascript:void(0)" v-on:click="changeStatus('green', relationship)" class="social-icon" title="Ready"><i class="fa fa-circle" aria-hidden="true" style="color:green"></i></a>
                                </div><!-- End .social-icons -->
                            </div><!-- End .member-top -->
                            <div class="fentry-content">

                            <h2 class="member-title service-icon custom2 wow zoomIn" data-wow-delay="0.25s"><a v-bind:href="'/relationships/' + relationship.id">{{ relationship.connection.name }}</a><small><p>{{relationship.connected_status}}</p></small>
                            <div>Next Step: {{relationship.step.title}}</div>
                            <div>{{relationship.connection.name}}'s Status:  {{relationship.connection_status}}</div>
                            <div>Your Status:  {{relationship.user_status}}</div></h2>
                                </div><!-- End .portfolio-tags -->
                        </div><!-- End .member -->
                    </div><!-- End .col-md-3 -->
                </div>
                <div class="col-md-4">
                <h3 style="color: yellow">Waiting</h3>
                    <div class="row" v-for="relationship in yellowRelationships">
                        <div class="member">
                            <div class="member-top service-icon custom2 wow zoomIn" data-wow-delay="0.25s">
                                <figure>
                                    <img style="max-width: 150em; max-height: 150em;" v-bind:src="relationship.connection.image" alt="Picture Not Loading">
                                </figure>
                                <div class="social-icons">
                                    <a href="javascript:void(0)" v-on:click="changeStatus('red', relationship)" class="social-icon" title="Disconnect"><i class="fa fa-circle" aria-hidden="true" style="color:red"></i></a>
                                    <a href="javascript:void(0)" v-on:click="changeStatus('yellow', relationship)" class="social-icon" title="Wait"><i class="fa fa-circle" aria-hidden="true" style="color:yellow"></i></a>
                                    <a href="javascript:void(0)" v-on:click="changeStatus('green', relationship)" class="social-icon" title="Ready"><i class="fa fa-circle" aria-hidden="true" style="color:green"></i></a>
                                </div><!-- End .social-icons -->
                            </div><!-- End .member-top -->
                            <h2 class="member-title service-icon custom2 wow zoomIn" data-wow-delay="0.25s"><a v-bind:href="'/relationships/' + relationship.id">{{ relationship.connection.name }}</a><small><p>{{relationship.connected_status}}</p></small>
                            <div>Next Step: {{relationship.step.title}}</div>
                            <div>{{relationship.connection.name}}'s Status:  {{relationship.connection_status}}</div>
                            <div>Your Status:  {{relationship.user_status}}</div></h2>
                        </div><!-- End .member -->
                    </div><!-- End .col-md-3 -->
                </div>
                <div class="col-md-4">
                <h3 style="color: green">Ready</h3>
                <div class="row" v-for="relationship in greenRelationships">
                        <div class="member">
                            <div class="member-top service-icon custom2 wow zoomIn" data-wow-delay="0.25s">
                                <figure>
                                    <img style="max-width: 150em; max-height: 150em;" v-bind:src="relationship.connection.image" alt="Picture Not Loading">
                                </figure>
                                <div class="social-icons">
                                    <a href="javascript:void(0)" v-on:click="changeStatus('red', relationship)" class="social-icon" title="Disconnect"><i class="fa fa-circle" aria-hidden="true" style="color:red"></i></a>
                                    <a href="javascript:void(0)" v-on:click="changeStatus('yellow', relationship)" class="social-icon" title="Wait"><i class="fa fa-circle" aria-hidden="true" style="color:yellow"></i></a>
                                    <a href="javascript:void(0)" v-on:click="changeStatus('green', relationship)" class="social-icon" title="Ready"><i class="fa fa-circle" aria-hidden="true" style="color:green"></i></a>
                                </div><!-- End .social-icons -->
                            </div><!-- End .member-top -->
                            <h2 class="member-title service-icon custom2 wow zoomIn" data-wow-delay="0.25s"><a v-bind:href="'/relationships/' + relationship.id">{{ relationship.connection.name }}</a><small><p>{{relationship.connected_status}}</p></small>
                            <div>Next Step: {{relationship.step.title}}</div>
                            <div>{{relationship.connection.name}}'s Status:  {{relationship.connection_status}}</div>
                            <div>Your Status:  {{relationship.user_status}}</div></h2>
                        </div><!-- End .member -->
                    </div><!-- End .col-md-3 -->
                </div>
            </div>
        </div>
    </div>