<div class="main">
    <div class="page-header largest largest-top parallax text-center" style="background-image:url(assets/images/pending.jpg)" data-0="background-position:50% 50%;" data-top-bottom="background-position:50% 100%">
            <div class="container-fluid">
                <h1>Pending Invites</h1>
                
            </div><!-- End .container -->
    </div><!-- End .page-header -->
    <div class="container-fluid">
        <div class="swiper-container team-carousel-4col">
            <div class="swiper-wrapper">
                <% @pending_relationships.each do |pending_relationship| %>
                    <div class="swiper-slide service-icon custom2 wow zoomIn" data-wow-delay="0.25s">
                        <div class="member text-center">
                            <div class="member-top">
                                <figure>
                                    <img v-bind:src="relationship.connection.image" alt="Member Name">
                                </figure>  
                            </div><!-- End .member-top -->
                            <h3 class="member-title"><a href="#"><%= pending_relationship.connection.name %></a> <small><%= form_tag "/pending", method: "patch" do %>
                              <input type="hidden" name="relationship_id" value="<%= pending_relationship.id %>">
                              <input type="submit" value="Accept">
                            <% end %></small></h3>
                        </div><!-- End .member -->
                    </div><!-- End .swiper-slide -->
                <% end %>
            </div>
        </div>
    </div>
</div>
                           
    

                