<h1>Signup</h1>

 <!-- Contact form trigger -->
                            <button class="btn btn-black" data-toggle="modal" data-target="#modal-contact-form">
                                Sign Up
                            </button>
                            <!-- Modal Contact Form-->
                            <div class="modal fade" id="modal-contact-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
                                <%= form_tag "/users", method: :post do %>
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h3 class="modal-title" id="myModalLabel4">Sign Up</h3>
                                                </div><!-- End .modal-header -->
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="name" class="input-desc">Name</label>
                                                    <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required>
                                                </div><!-- End .from-group -->
                                                <div class="form-group">
                                                    <label for="email" class="input-desc">Email</label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email" required>
                                                </div><!-- End .from-group -->
                                                <div class="form-group">
                                                    <label for="subject" class="input-desc">Password</label>
                                                    <input type="password" class="form-control" id="subject" name="password" placeholder="password" required>
                                                </div><!-- End .from-group -->
                                                <div class="form-group">
                                                    <label for="subject" class="input-desc">Confirm Password</label>
                                                    <input type="password" class="form-control" id="subject" name="password_confirmation" placeholder="Confirm Password" required>
                                                </div><!-- End .from-group -->
                                                

                                            </div><!-- End .modal-body -->
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-black" data-dismiss="modal">Close</button>
                                            <button class="btn btn-custom">Sign Up</button>
                                            </div><!-- End .modal-footer -->
                                        </div><!-- End .modal-content -->
                                    </div><!-- End .modal-dialog -->
                                <% end %>
                            </div><!-- End .modal -->
